.water-droplet{
	position:fixed;
	padding: 0;
/* 	background-color: blue; */
/*   background: linear-gradient(to right, #bdc3c7, #2c3e50); */
  border: solid 1px #fff;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.44);
	right: 0px;
	left:0px;
	top: 40%;
	bottom: 0px;
	margin: 0 auto;
	width: 200px;
	height: 200px;		
	border-radius:0% 100% 100% 100%;
	-webkit-transform: rotate(45deg);
	clear: left;
	-webkit-animation: animate 3s  infinite;
}